:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #646cff;
  --secondary: #535bf2;
  --light: #f9f9f9;
  --dark: #363636;

  --completed: #00b894;
  --ongoing: #fdcb6e;
  --planned: #ff7675;

  --btn-background: #1a1a1a;
  --btn-hover: #646cff;
  --btn-delete-hover: #ff7675;

  --spacing-lg: 2rem;
  --spacing-md: 1.5rem;
  --spacing-sm: 1rem;

  --border: 3px solid var(--primary);
  --border-radius: 0.5rem;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
  transition: color 0.25s;
}
a:hover {
  color: var(--secondary);
}

body {
  margin: 0;
  padding: 0;
}

.logo {
  &.main {
    font-size: 2em;
    font-weight: 700;
    color: var(--light);
  }
}

header {
  padding: var(--spacing-sm) var(--spacing-lg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .navigation.main {
    display: flex;
    gap: var(--spacing-md);
    list-style: none;
    .active {
      a {
        color: var(--light);
      }
    }
  }
}

body {
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  padding: 1rem;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--btn-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.6em;

  .project-card {
    * {
      margin: 0;
    }
    position: relative;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    max-height: fit-content;
    .description {
      max-width: 20ch;
    }
    .status {
      font-weight: 700;
      border: var(--border);
      border-color: var(--planned);
      border-radius: var(--border-radius);
      max-width: fit-content;
      padding: 0.5rem;
      &.ongoing {
        border-color: var(--ongoing);
      }
      &.completed {
        border-color: var(--completed);
      }
    }

    &:hover {
      border-radius: 0;
      border-color: var(--btn-delete-hover);
      .delete-btn {
        opacity: 1;
      }
    }
  }
}

.delete-btn {
  opacity: 0;
  position: absolute;
  background-color: var(--btn-delete-hover);
  transition: background-color 0.2s, opacity 0.5s;
  right: 0;
  top: -2.6rem;
  &:hover {
    background-color: var(--btn-delete-hover);
  }
}

.project-owner {
  font-weight: 700;
  opacity: 0.8;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-width: 500px;
  label {
    font-size: 1.2em;
    font-weight: 500;
  }
}

footer {
  padding: 1rem;
}
