:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #ffffff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--bs-white);
  background-color: var(--bs-gray-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --border: 1px solid var(--bs-gray);
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--bs-white);
  text-decoration: inherit;
  &:hover {
    text-decoration: underline;
    transform: scale(1.1);
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
}

header {
  width: 100%;
  padding: 0 1rem;
  filter: drop-shadow(0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.5));
  background-color: var(--bs-blue);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  #main-nav {
    display: flex;
    gap: 2rem;
    list-style: none;
    .active {
      text-decoration: underline;
    }
  }
}
h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: var(--border);
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 1rem;

  .project-card {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: left;
    padding: 1rem 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: transform 0.25s;
    &.active {
      border: var(--border);
    }
    &:hover {
      transform: scale(1.05);
      &:active {
        transform: scale(1.03);
      }
    }
  }
}

#formcontainer {
  width: 50%;
  #projform {
    margin: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    label {
      font-weight: 700;
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      input,
      textarea {
        padding: 0.3rem;
        border: var(--border);
        margin-top: 0.5rem;
      }
    }
  }
}

input[type="submit"] {
  align-self: center;
  justify-self: center;
  background-color: var(--bs-blue);
  color: var(--bs-white);
  border: none;
  font-weight: 900;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
  &:hover {
    background-color: #0056b3;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  header {
    color: var(--bs-white);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#mobile-bar {
  display: block;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  #mobile-bar {
    display: none;
  }
}
