:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #646cff;
  --primary-hover: #535bf2;
  --light: #f9f9f9;
  --dark: #242424;

  --completed: #00b894;
  --ongoing: #fdcb6e;
  --planned: #ff7675;

  --btn-background: #1a1a1a;
  --btn-hover: #646cff;
  --btn-delete-hover: #ff7675;

  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;

  --border: 3px solid var(--light);
  --border-radius: 0.1rem;

  --font-heading: "Bebas Neue", sans-serif;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
  transition: color 0.25s;
}
a:hover {
  color: var(--secondary);
}

body {
  margin: 0;
  padding: 0;
}

.logo {
  img {
    width: 5rem;
  }
  color: var(--primary);
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  font-family: var(--font-heading);
  font-size: 2rem;
  &:hover {
    color: var(--primary);
  }
}

header {
  padding: var(--spacing-sm) var(--spacing-lg);
  background-color: var(--dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .navigation.main {
    display: flex;
    gap: var(--spacing-md);
    list-style: none;
    font-weight: 500;
    .active {
      a {
        color: var(--light);
      }
    }
  }
}

body {
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  padding: 1rem;
  height: 100%;
}

h1 {
  font-family: var(--font-heading);
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary);
  margin: 0;
}

h2,
h3 {
  font-family: var(--font-heading);
  font-size: 1.6em;
  margin: 0;
  color: var(--primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-background);
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    background-color: var(--btn-hover);
  }
}

.projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6em;
}

.card {
  * {
    margin: 0;
  }
  position: relative;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-height: fit-content;
  transition: border-color 0.25s;
  &.project {
    .description {
      max-width: 20ch;
    }
    .status {
      font-weight: 700;
      border: var(--border);
      border-color: var(--planned);
      border-radius: var(--border-radius);
      max-width: fit-content;
      padding: 0.2rem 0.5rem;
      &.ongoing {
        border-color: var(--ongoing);
      }
      &.completed {
        border-color: var(--completed);
      }
    }

    &:hover {
      border-color: var(--btn-delete-hover);
      .delete-btn {
        opacity: 1;
        height: auto;
        padding: 1rem;
      }
    }
  }
}

.delete-btn {
  position: absolute;
  bottom: var(--spacing-sm);
  right: var(--spacing-sm);
  opacity: 0;
  height: 0;
  padding: 0;
  width: fit-content;
  transition: all 0.25s, color 0.25s;

  &:hover {
    background-color: var(--btn-delete-hover);
  }
}

.project-owner {
  font-weight: 700;
  opacity: 0.8;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: var(--spacing-md);
  border: var(--border);
  border-radius: var(--border-radius);
  max-width: 500px;
  label {
    font-size: 1.2em;
    font-weight: 500;
  }
  input,
  textarea,
  select {
    background-color: var(--dark);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--light);
  }
}

footer {
  padding: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
